<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {% for owner_family in owner_families %}
        <li>
            {{owner_family}}
        </li>
        {% endfor %}




    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul>
        {% for holding in holdings %}
        <li>
            {{holding}}
        </li>
        {% endfor %}
    </ul>
</body>

</html>